.AboutMe{
  height: fit-content;
  overflow: hidden;
}

.AboutMe .profilePicDiv{
  float: left;
  height: 300px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.AboutMe .profilePic{
  height: 100%;
  width: 100%;
}

.AboutMe .text{
  /* display: inline-block; */
}